<form style="margin-top: 30px">
    <div class="row">
        <div class="col-xs-6">
            <label class="col-md-3 control-label">Project Name</label>
            <input type="text" class="form-control input-lg" placeholder="Large input">
        </div>
        <div class="col-xs-6">
            <label class="col-md-3 control-label">Technology</label>
            <select class="form-control input-lg">
                <option>Ruby</option>
                <option>PHP</option>

            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Default input">
        </div>
        <div class="col-xs-6">
            <select class="form-control">
                <option>Default select</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6">
            <input type="text" class="form-control input-sm" placeholder="Small input">
        </div>
        <div class="col-xs-6">
            <select class="form-control input-sm">
                <option>Small select</option>
            </select>
        </div>
    </div>
</form>
    <div class="col-sm-12 controls" style="margin-top: 30px">
        <button type="button" class="btn btn-success">Click Me!</button>
    
    </div>
